div {
    display: flex;
    align-items: flex-end;
    height: 50px;

    .textHomepageH2{
        color: #C12D18;
        font-weight: bold;
        height: 20px;
       
    }
    .textHomepageH1{
        color: #C12D18;
        font-weight: bold;
        height: 43px;

    }
    .textHomepageH3{
        color: #222222;
    }

.divMessageErro{
    display: flex;
    width: 270px;
    height: 8vh;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    
}

.messageErro{
    font-size: 16px;
    color: #E9B425;
    text-align: center;
}


.contentClockP{
    height: 10px;
   
}
.clock{
    font-weight: bold;
}
.temperature{
    font-weight: 700;
}

}