div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;  
  
  height: 100%; 
  img {
   
    max-width: 900px; 
    margin-bottom: -80px;


    @media (max-width: 1370px) {
      width: 600px;
    }
    
    @media (max-width: 1290px) {
      width: 430px;
     
    }
    @media (max-width: 920px) {
      width: 800px;
     
    }
    @media (max-width: 830px) {
      width: 700px;
     
    }
  
    @media (max-width: 770px) {
      width: 600px;
     
    }
    @media (max-width: 660px) {
      width: 450px;
     
    }
    @media (max-width: 500px) {
      width: 400px;
      height: 630px;
    }
    @media (max-width: 395px) {
      width: 350px;
      height: 630px;
    }
    @media (max-width: 350px) {
      width: 290px;
     
    }
  }
}